@import "tailwindcss";


@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}